@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #4F46E5;
  --color-accent: #6366F1;
  --color-background-light: #F9FAFB;
  --color-text-main: #111827;
  --font-display: 'Inter', sans-serif;

  /* Custom Color Overrides */
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-900: oklch(39.6% 0.141 25.723);

  --color-orange-50: #e9efff;
  --color-orange-100: oklch(0.95 0.02 269.55);
  --color-orange-500: #165dfc;
  --color-orange-600: oklch(0.55 0.25 262.95);
  --color-orange-700: oklch(0.95 0.02 269.55);
  --color-orange-800: oklch(0.55 0.25 262.95);
  --color-orange-900: oklch(0.55 0.25 262.95);

  --color-amber-50: oklch(98.7% 0.022 95.277);
  --color-amber-100: oklch(96.2% 0.059 95.617);
  --color-amber-200: oklch(92.4% 0.12 95.746);
  --color-amber-400: oklch(82.8% 0.189 84.429);
  --color-amber-500: oklch(76.9% 0.188 70.08);
  --color-amber-600: oklch(66.6% 0.179 58.318);
  --color-amber-700: oklch(55.5% 0.163 48.998);
  --color-amber-800: oklch(47.3% 0.137 46.201);
  --color-amber-900: oklch(41.4% 0.112 45.904);

  --color-yellow-100: oklch(97.3% 0.071 103.193);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-900: oklch(42.1% 0.095 57.708);

  --color-green-100: oklch(96.2% 0.044 156.743);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-green-500: oklch(72.3% 0.219 149.579);
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-main);
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.4);
}